@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@()


 <span class="bckg"></span>
<header>

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/mainPage.css")">

  <h1>ULook</h1>
  <nav>
    <ul>
      <li>
        <a href="javascript:void(0);" data-title="Projects">Get inspire</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Team">Recommended</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Diary">My items</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Timeline">My Outfits</a>
      </li>
      <li>
        <a href="javascript:void(0);" data-title="Settings">Search</a>
      </li>

    </ul>
  </nav>
</header>
<main>

  <div class="title">
    <h2>Welcome to ULook!</h2>
    <a href="javascript:void(0);">Sign in</a>
  </div>

  <article class="larg">
    <div>
      <h3>Image 1 <span class="entypo-down-open"></span></h3>
      <p>xxx.</p>
    </div>
    <div>
      <h3>Image 2 <span class="entypo-down-open"></span></h3>
      <p>xxx.</p>
    </div>
    <div>
      <h3>Image 3 <span class="entypo-down-open"></span></h3>
      <p>xxx.</p>
    </div>
  </article>
</main>
